body {
  background-color: black;
}
#Fretboard {
  position: fixed;
  display: block;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 5%;
}
a {
  font-size: 1em;
  background-color: white;
  color: black;
}
a:hover {
  opacity: 0.7;
  color: black;
  background-color: blue;
}
a:active {
  color: yellow;
  background-color: red;
}
img {
  max-width: 450px;
}
@media screen and (min-width: 300px) {
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 500px) {
  a {
    font-size: 2em;
  }
  img {
    max-width: 650px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 700px) {
  img {
    max-width: 650px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 900px) {
  img {
    max-width: 850px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  a {
    font-size: 3em;
  }
  img {
    max-width: 1050px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-height: 500px) {
  #Fretboard {
    margin-top: 10%;
  }
}
