body {
  background-color: black;
}
#Fretboard {
  position: fixed;
  display: block;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 15%;
}
@media screen and (min-width: 300px) {
  img {
    max-width: 170px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 500px) {
  img {
    max-width: 250px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 700px) {
  img {
    max-width: 450px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 900px) {
  img {
    max-width: 650px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  img {
    max-width: 850px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-height: 150px) {
  body {
    background-size: 100px;
  }
}
@media screen and (min-height: 500px) {
  body {
    background-size: 350px;
  }
}
@media screen and (min-height: 750px) {
  body {
    background-size: 500px;
  }
}
@media screen and (min-height: 1050px) {
  body {
    background-size: 700px;
  }
}
@media screen and (min-height: 1200px) {
  body {
    background-size: 900px;
  }
}
@media screen and (min-height: 1600px) {
  body {
    background-size: 1600px;
  }
}
